Exercise 1: Print First 10 natural numbers using while loop

In [ ]:
i=1
n=10
while i<=n:
    print (i)
    i=i+1

Exercise 2: Print the following pattern:  1111
                                           111
                                            11
                                             1

In [26]:

n=4
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('1',end=' ')
    print()

  1 1 1 1
    1 1 1
      1 1
        1

Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [32]:
n=int(input("Enter number:"))
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

Enter number:3
6

Exercise 4: Write a program to print multiplication table of a given number

In [4]:
n=int(input("Enter number:"))
i=1
for i in range(11):
    print(n*i)
print()

Enter number:2
0
2
4
6
8
10
12
14
16
18
20

Exercise 5: Display numbers from a list using loop

In [ ]:
l1=['64','Krish','91.6','patil','1']
for l in l1:
    if l.isdigit():
        print(l)

Exercise 6: Count the total number of digits in a number

In [42]:
n=int(input("Enter number:"))
count=0
while n!=0:
    n//=10
    count=count+1
print(count)

Enter number:12345
5

Exercise 7: Print the following pattern : Diamond shape

In [7]:
n = 4
for i in range(1, n + 1):
    for j in range(n, i, -1):
        print(" ", end="")
    
    for k in range(1, 2 * i):
        print("*", end="")
    print()

for i in range(n - 1, 0, -1):
    for j in range(n, i, -1):
        print(" ", end="")
    
    for k in range(1, 2 * i):
        print("*", end="")
    print()

   *
  ***
 *****
*******
 *****
  ***
   *

Exercise 8: Print list in reverse order using a loop

In [8]:
l1=['2','6','abc','8','xyz','pqr']
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

pqr
xyz
8
abc
6
2

Exercise 9: Display numbers from -10 to -1 using for loop

In [47]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [48]:
for i in range(-10,0):
    print(i)
else:
    print("Done!")

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
Done!

Exercise 11: Write a program to display all prime numbers within a range

In [55]:
i=1
n=int(input("Enter end range:"))
for num in range(i, n + 1):
        if num > 1:
            for i in range(2, num):
                if (num % i) == 0:
                    break
            else:
                print(num)

Enter end range:20
2
3
5
7
11
13
17
19

Exercise 12: Display Fibonacci series up to 10 terms

In [63]:
n=10
a, b = 0, 1
for i in range(1,n+1):
        print(a, end=' ')
        c=a+b
        a,b=b,c
print(i)

0 1 1 2 3 5 8 13 21 34 10

Exercise 13: Find the factorial of a given number

In [38]:
n=int(input("Enter number:"))
fact=1
for i in range(1,n+1):
    fact*=i
print(fact)

Enter number:5
120

Exercise 14: Reverse a given integer number

In [45]:
n=int(input("Enter number:"))
reverse = 0
while n!= 0:
        digit = n % 10
        reverse = reverse * 10 + digit
        n = n // 10
print(reverse)

Enter number:123
321

Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [46]:
l2=['5','9','ab','3.2','ty','7.1']
for i in range(len(l2)):
    if i%2!=0:
        print(l2[i])

9
3.2
7.1

Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [54]:
n=int(input("Enter number:"))
for i in range(1, n+1):
        print(f"{i}={i**3}")

Enter number:3
1=1
2=8
3=27

Exercise 17: Find the sum of the series upto n terms

In [1]:
n = int(input("Enter the number"))
sum = 0
j = 1
for i in range(1,n+1):
    sum = sum + j
    j = (j*10)+1
print("sum of series is",sum)

Enter the number5
sum of series is 12345