# 1. WAP AREA OF RECTANGLE

In [1]:
l = int(input("length in cm"))
b = int(input("breadth in cm"))
a = i*b
print("your area rectangle is : ",a,"cm^2")

length in cm20
breadth in cm30
your area rectangle is :  600 cm^2

# 2. WAP AREA OF CIRCLE

In [4]:
r = int(input("enter your radius"))
a = 3.14*(r*r)
print("your area is:",a)

enter your radius20
your area is: 1256.0

# 3. WAP AREA OF CUBOID

In [3]:
l = int(input("enter length"))
b = int(input("enter length"))
h = int(input("enter length"))
a = 2*(l*b+b*h+h*l)
print("the area is:",a)

enter length20
enter length10
enter length30
the area is: 2200

# 4. WAP AREA OF CUBE

In [5]:
a = int(input("enter length"))
x = 6*(a*a)
print("the area of cube is:",x)

enter length5
the area of cube is: 150

# 5. WAP AREA OF CSA OF CYLINDER

In [6]:
r = int(input("enter radius"))
h = int(input("enter height"))
a = 2*(3.14*(r*h))
print("your c.c.a is",a)

enter radius5
enter height3
your c.c.a is 94.2

# 6. WAP AREA OF TSA CYLINDER

In [9]:
r = int(input("enter radius"))
h = int(input("enter height"))
a = 2*3.14*r*(r+h)
print("area is",a)

enter radius5
enter height6
area is 345.40000000000003

# 7. WAP AREA OF CSA CONE

In [12]:
r=int(input("enter radius"))

l=int(input("enter length"))

a=3.14*r*l

print("csa is:",a)

enter radius5
enter length5
csa is: 78.5

# 8. WAP AREA OF TSA OF RIGHT CIRCULARCONE

In [3]:
r=int(input("enter radius"))

l=int(input("enter slant height5"))

a=3.14*r*(1+r)

print("the tsa is:",a)

enter radius5
enter slant height56
the tsa is: 94.2

# 9. WAP TSA OF SPHERE

In [4]:
r=int(input("enter radius"))

a=4* (3.14* (r*r))

print("tsa of sphere is:", a)

enter radius5
tsa of sphere is: 314.0

# 10. WAP VOLUME OF CUBOID

In [5]:
l=int(input("enter length"))

b=int(input("enter breadth"))

h=int(input("enter height"))

a=l*b*h

print("volume of cubsid is:",a)

enter length5
enter breadth6
enter height7
volume of cubsid is: 210

# 11. WAP VOLUME OF CUBE

In [7]:
l=int(input("enter length"))

a=l*l*l

print("volume of cube is:",a)

enter length5
volume of cube is: 125

# 12. WAP VOLUME OF CYLINDER

In [8]:
r=int(input("enter radius"))

h=int(input("enter height"))

v=3.14* (r*r)*h

print("volume is:",v)

enter radius5
enter height6
volume is: 471.0

# 13. WAP VOLUME OF CONE

In [9]:
r=int(input("enter radius"))

h=int(input("enter height"))

v=1/3* (3.14* (r*r)*h)

print("volume is:",v)

enter radius5
enter height5
volume is: 130.83333333333331

# 14. WAP VOLUME OF SPHERE

In [11]:
r=int(input("enter radius"))

v=4/3* (3.14* (r*r*r))

print("volume is:",v)

enter radius5
volume is: 523.3333333333333

# 15. WAP PERIMETER OF RECTANGLE

In [14]:
l=int(input("enter length in cm "))

b=int(input("enter breadth in cm "))

a=2*(l+b)

print("perimeter of rectangle is:",a,"cm")

enter length in cm 5
enter breadth in cm 6
perimeter of rectangle is: 22 cm

# 16. WAP AREA OF SQUARE

In [16]:
A=int(input("enter length in cm "))

x=A*A

print("your area of square is:",x, "cm^2")

enter length in cm 5
your area of square is: 25 cm^2

# 17. WAP AREA OF TRIANGLE

In [17]:
h=int(input("enter height"))

b=int(input("enter base"))

a=1/2*(b*h)

print("your area is:", a, "cm^2")

enter height5
enter base6
your area is: 15.0 cm^2

# 18. WAP GREATEST NO. IN THREE NUMBERS

In [19]:
a=int(input("enter first no "))

b=int(input("enter second no "))

c=int(input("enter third no"))

if a>b:

    if a>c:

        print("the greatest no is:",a)

    else:

        print("the greatest no is:",c)

else:

    if b>c:

        print("the greatest no is:",b)

    else:

        print("the greatest no is:",c)

enter first no 5
enter second no 4
enter third no2
the greatest no is: 5

# 19. WAP PERIMETER OF TRIANGLE

In [20]:
a=int(input("enter first side of tringle "))

b=int(input("enter second side of tringle "))

c=int(input("enter third side of tringle "))

perimeter=a+b+c

print("the perimeter is:",perimeter)

enter first side of tringle 5
enter second side of tringle 4
enter third side of tringle 6
the perimeter is: 15

# 20. WAP GREATEST NO. IN FOUR NO.

In [21]:
a=float(input("enter first no "))

b=float(input("enter second no "))

c=float(input("enter third no "))

d=float(input("enter fourth no "))

if (a>b and a>c and a>d):

    print("greatest number is:",a)

elif (b>c and b>d): 
    
    print("greatest number is:",b)

elif (c>d):

    print("greatest number is:",c)

elif (d>c):

    print("greatest number is:",d)

else:
    print("Either any two values or all the four values are equal")

enter first no 5
enter second no 6
enter third no 7
enter fourth no 9
greatest number is: 9.0

# 21. WAP TO CHECK DIVISION IN RESULT

In [23]:
a=eval(input("enter marks out of 300 "))

b=a/300*100

print("percentage is", b, "")

if(a>300):

    print("you entered a wrong marks")

elif b>60:

    print ("your division is first")

elif (b>50 and b<53):

    print("your division is second")

elif (b>33 and b<50):

    print("your division is third")

else:

    print("fail")

enter marks out of 300 260
percentage is 86.66666666666667
your division is first

# 22. WAP TO CHECK AGE CRITERIA

In [24]:
y=int(input("enter your age "))

if (y>0 and y<12):

    print("kid")

elif (y>=12 and y<19):

    print("teenager")

elif(y>19 and y<30):

    print("young")

elif(y>30 and y<45):

    print("mature")

elif (y>45 and y<60):

    print("experienced")

elif(y>60 and y<75):

    print("old")

elif (y>75):

    print("senior citizen")

enter your age 23
young

# 23. WAP SUM OF Nth NO.

In [5]:
n=int(input("enter limit"))

s=0

for c in range(1,n):
    s=c+s

print("the sum is",s)

enter limit5
the sum is 10

# 24. WAP TO CHECK THE VALUE OF FACTORIAL

In [6]:
a=int(input("enter a number"))

factorial =1

if a<0: 
    print("sorry, factorial does not exist for negative number")

elif a==0: 
    print("the factorial of 0 is 1")

else: 
    for i in range (1,a+1): 
        factorial=factorial*i

print("the factorial of",a, "is", factorial)

enter a number5
the factorial of 5 is 120

# 25. WAP TO PRINT MULTIPLICATION TABLE CODE

In [19]:
a=int(input("show the multiplication table of? "))

for i in range(1,11):
      print(a, "x", i, "=", a*i)

show the multiplication table of? 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# 26. WAP TO PRINT OPPOSITE RIGHT ANGLE TRIANGLE

In [26]:
num=int(input("enter the number rows"))

for i in range(num,0,-1): 
    for j in range (0,i):
        print("*",end="")

    print()

enter the number rows5
*****
****
***
**
*

# 27. WAP TO PRINT 1,22,333,4444

In [27]:
n=int(input("enter the no of rows:"))

for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end="")

    print()

enter the no of rows:5
1
22
333
4444
55555

# 28. WAP TO PRINT STAR PATTERN OF OPPOSITE TRIANGLE

In [29]:
num=int(input("enter the number rows"))

for i in range (0,num):
    for j in range (0, num-i):
        print(" ",end="")

    for k in range(0,i+1):
        print("*",end="")

    print("")

enter the number rows5
     *
    **
   ***
  ****
 *****

# 29. WAP TO PRINT PATTERN 1,12,123

In [31]:
n=int(input("enter the no of rows:"))

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")

    print()

enter the no of rows:5
1
12
123
1234
12345

# 30. WAP TO PRINT FIBONACCI SERIES USE WHILE LOOP

In [33]:
a-eval (input("enter the range"))

i=0

first_value = 0

second_value= 1

while (i<a):
    if(i<=1):
        Next =i

    else:
        Next = first_value + second_value

        first_value = second_value

        second_value = Next

    print (Next)

    i=i+1

enter the range5
0
1
1
2
3

# 31. WAP TO PRINT FIBONACCI SERIES USE FOR LOOP

In [1]:
number=int(input("enter the range"))

first_value=0

second_value=1

for num in range(0, number):
    if (num<=1):
        NEXT=num

    else:
        NEXT=first_value + second_value

        first_value=second_value

        second_value=NEXT

    print (NEXT)

enter the range5
0
1
1
2
3

# 32. WAP TO PRINT PATTERN A, AB, ABC

In [3]:
ch=str(input("enter a character "))

a=ord (ch)

for x in range(65,a+1):
    for c in range (65,x+1):
        print(chr(c), end="")

    print("")

enter a character a
A
AB
ABC
ABCD
ABCDE
ABCDEF
ABCDEFG
ABCDEFGH
ABCDEFGHI
ABCDEFGHIJ
ABCDEFGHIJK
ABCDEFGHIJKL
ABCDEFGHIJKLM
ABCDEFGHIJKLMN
ABCDEFGHIJKLMNO
ABCDEFGHIJKLMNOP
ABCDEFGHIJKLMNOPQ
ABCDEFGHIJKLMNOPQR
ABCDEFGHIJKLMNOPQRS
ABCDEFGHIJKLMNOPQRST
ABCDEFGHIJKLMNOPQRSTU
ABCDEFGHIJKLMNOPQRSTUV
ABCDEFGHIJKLMNOPQRSTUVW
ABCDEFGHIJKLMNOPQRSTUVWX
ABCDEFGHIJKLMNOPQRSTUVWXY
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ABCDEFGHIJKLMNOPQRSTUVWXYZ[
ABCDEFGHIJKLMNOPQRSTUVWXYZ[\
ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]
ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^
ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_
ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`
ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`a

# 33. WAP TO CALCULATION OF Xth BY FOR LOOP

In [4]:
x=int(input("enter no "))

b=int(input("enter power "))

y=x

for a in range(0,b-1):
    y=x*y

print (y)

enter no 4
enter power 5
1024

# 34. WAP TO PRINT THE INTEGER IS PALINDROME OR NOT PALINDROME

In [6]:
n=int(input("enter number"))

x=n

r=0

while n>0:
    d=n%10

    r=r*10+d

    n=n//10

if x==r:
    print("the number is palindrome")

else:
    print("the number is not palindrome")

enter number121
the number is palindrome

# 35. WAP TO PRINT FACTORIAL OF LIST

In [11]:
a=[]

fact=[]

ch="y"

while ch=="y" or ch=="Y":
        item=int(input("enter the element of list "))
        a.append(item)
        ch=input("do you want to enter more element :")

print("the list is:",a)

for i in a:
    f=1

    for j in range(1,i+1):
        f=f*j

    fact.append(f)

print("the factorial of each element is:", fact)

enter the element of list 7
do you want to enter more element :Y
enter the element of list 9
do you want to enter more element :N
the list is: [7, 9]
the factorial of each element is: [5040, 362880]

# 36. WAP TO PRINT PASCAL TRIANGLE

In [14]:
n=int(input("enter rows "))

for i in range(0,n):
    for j in range(0,n-i-1):
        print (end=" ")

    for j in range(0,i+1):
        print("*",end=" ")

    print()

enter rows 5
    *
   * *
  * * *
 * * * *
* * * * *

# 37. WAP TO CREATE A LIST OF VALUES INPUTTED BY USER

In [15]:
a=eval (input("enter limit"))

n=[]

for a in range(1,a+1):
    a=eval (input ("enter element "))

    n.append(a)

print (n)

enter limit4
enter element 65
enter element 32
enter element 82
enter element 62
[65, 32, 82, 62]

# 38. WAP TO CREATE A LIST OF VALUES INPUTTED BY USER AND SORT IN INCREASING ORDER

In [20]:
a=eval (input("enter limit"))

lst=[]

for a in range(1,a+1):
    a=eval (input("enter element "))

    lst.append(a)

print (lst)

l=len (lst)

for i in range (1):
    for j in range(0,l-i-1):
        if lst[j]>lst[j+1]:
            temp=lst[j]

            lst[j]=lst[j+1]

            lst[j+1]=temp

print("after sorting the list is ")

print (lst)

enter limit3
enter element 52
enter element 12
enter element 96
[52, 12, 96]
after sorting the list is
[12, 52, 96]

# 39. SORTING IN ASCENDING ORDER USE BUBBLE SORT

In [21]:
a=eval (input("enter limit"))

lst=[]

for a in range(1,a+1):
    a=eval (input("enter element "))

    lst.append(a)

print (lst)

l=len (lst)

for i in range (1):
    for j in range(0,l-i-1):
        if lst[j]>lst[j+1]:
            temp=lst[j]

            lst[j]=lst[j+1]

            lst[j+1]=temp

print("after sorting the list is ")

print (lst)

enter limit3
enter element 5
enter element 2
enter element 1
[5, 2, 1]
after sorting the list is
[2, 1, 5]

# 40. WAP in PYTHON TO CREATE A PHONE DICTIONARY

In [24]:
n=int(input("enter limit"))

m={}

mob=0

name=""

i=0

for i in range(0,n):
    mob=int (input("enter mobile number "))

    name=str (input("enter name "))

    z2=dict ({mob:name})

    m.update (z2)

print (m)

n=int(input("enter the no to search in dictionary "))

print("the name of person is ",m[n])

enter limit2
enter mobile number 1236547891
enter name Tanu
enter mobile number 7896541237
enter name Krishna
{1236547891: 'Tanu', 7896541237: 'Krishna'}
enter the no to search in dictionary 1236547891
the name of person is  Tanu

# 41. WAP TO FIND GIVEN NUMBER IS PRIME OR NOT

In [25]:
num=int(input("enter number "))

lim=int(num/2)+1

for i in range(2,lim):
    rem=num%i

    if rem==0:
        print (num, "is not prime number")

        break

else:
    print(num, "is prime number")

enter number 5
5 is prime number

# 42. WAP TO FIND GIVEN NUMBER IS EVEN OR ODD

In [26]:
a=int(input("enter number "))

r=a%2

if r==0:
    print(a, "is even number ")

elif r>0:
    print(a, "is odd number ")

else: 
    print("you enter a number 0 or less than 0")

enter number 2
2 is even number

# 43. WAP TO CREATE A TUPLE OF VALUES INPUTED BY USER

In [27]:
a=()

l=[]

n=int(input("enter limit "))

for i in range(0,n):
    item=int(input("enter element "))

    l.append(item)

a=a+tuple (l)

print("tuple is", a)

enter limit 5
enter element 25
enter element 45
enter element 62
enter element 13
enter element 7
tuple is (25, 45, 62, 13, 7)

# 44. WAP TO REVESRSE AN INTEGER

In [28]:
n=int(input("enter the integer "))

x=n

r=0

while n>0:
    d=n%10

    r=r*10+d

    n=n//10

print("the reversed integer is:",r)

enter the integer 123568
the reversed integer is: 865321